<%- include('partials/header') -%>

  <div>
    <form action="">
        <div>
          <label for="firstName"></label>
          <input type="text" class="" id="" name="firstName" placeholder="First Name">
        </div>
        <div>
          <label for="lastName"></label>
          <input type="text" class="" id="" name="lastName" placeholder="Last Name">
        </div>
        <div>
          <button type="submit" class="" value>Add Patient</button>
          <span>+</span>
        </div>
    </form>
    <div class="scrollbox">
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
      <p>Baker, Gjarred</p>
    
    </div>
  </div>

<%- include('partials/footer') -%>