<%- include('partials/header') -%>

<div>
    <h1>Confirmation</h1>
  <p><%= confirmationMessage %></p>
  <button onclick="deletePatient()">Confirm</button>
  <button onclick="cancelAction()">Cancel</button>

</div>