/**/

/**/

*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

.hidden{
    display:none;
}

.noborder{
    border:none;
}

.teal{
    color:teal;
}

.tealglow{
    color:white;
    box-shadow: 0 0 50px 5px teal;
}

.noborder{
    border: none;
}
/*HEADER*/

header{
    height:200px;
    background-image: url("../imgs/marcelo-leal-k7ll1hpdhFA-unsplash.jpg");
    background-position: center;
    background-size: 100vw, 300px;
    background-repeat:no-repeat;
    width:100vw;
    

}

.headerh1{
    color:white;
    text-decoration: none;
    height: 50%;
    width:50%;
}

.headerh1:hover{
    color:black;
}

.headshadow{
    background: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
    width:100vw;
    height: 200px;
}

.headshadow span{
    color:white;
    
}


/*.leftcolorshadow{
    background: linear-gradient(to left, rgba(0,103,103,0.5),rgba(0,103,103,0.1));
    height:200px;
    width:100vw;
}*/

.rightcolorshadow{
    
    background: linear-gradient(to right, rgba(0,103,103,0.9),rgba(0,103,103,0.1));
    height:200px;
    width:100vw;
}

/*Index Page*/

.backgroundimg{
    background-image: url(/imgs/medicalhand.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

.colorshade{
    width:60vw;
    height: 100vh;
    background-image: linear-gradient(to right, rgba(0,103,103,0.9),rgba(0,103,103,0))
}

.shadow{
    width:100vw;
    height: 100vh;
    background-image: linear-gradient(to left, rgba(0,0,0,0.7),rgba(0,0,0,0)) 
}

h1{
    color: white;
    font-size: 90px;
}

.fa-bandage{
    font-size: 130px;
}

.fa-house-medical{
    font-size: 130px;
}

.fa-hand-holding-medical{
    font-size: 130px;
}

.white{
    color:white;
}

.buttons li{
    width:250px;
    height:70px;
    background-color: white;
    border-radius: 5px;
    color:rgba(0,103,103,0.8);
    font-size: 50px;
    text-align: center;
    
}

.buttons li:hover{
    background-color: rgb(0,103,103);
    color: white;
}

.button{
    text-decoration: none;
    margin-bottom: 0px;
    color: rgba(0,103,103,0.8);
    width: 100%;
}

.button:hover{
    color:white;
}

/*.button{
    height:60px;
    width: px;
    background-color: white;
    color: rgba(0,103,103,0.8);
    border-radius: 5px;
    font-size: 40px;
    text-decoration: none;
    padding: 10px;
}*/

section{
    float:left;
    width:40%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10px;
    
}

.frontpage{
    position:relative;
}

.icons{
    margin-bottom: 10%;
    margin-left: 10%;
}

.h1list li{
    list-style-type: none;
}

.h1list{
   margin-bottom: 15%;
}

.h1list p{
    font-size:30px;

}



.buttons{
   
}

.buttons li{
    margin: 5% 0 1% 0;
    list-style-type: none;
    box-shadow: -2px 7px rgba(108, 108, 108, 0.2);
}

/*.button:hover{
    background-color: rgba(0,103,103,0.8);
    color: white;
    
    padding: 10px;
}*/



/*LOGIN*/

.leftcolorpillar{
    float:left;
    width:30vw;
    height:73.2vh;
    background-image: linear-gradient(to right, rgba(0,103,103, 0.9),rgba(0,103,103, 0));
    position:relative;
    
}

.leftshadow{
    float:left;
    width:30vw;
    height:73vh;
    background-color: rgba(0,0,0, 0.1); 
}

.smallLogin{
    display:block;
    border: 5px solid white;
    background-color: rgba(0,103,103, 0.8);
    margin-bottom: 10px ;
    
} 

.smallLogin p{
    font-size: 30px;
    color:white;
    margin-left: 30%;
    margin-top: 5%;
}

.loginboxcolor{
    
    height:100%;
    
}

.loginboxshadow{
    
}

.btncolor{
    background-color: rgb(0,103,103);
}

.btncolor:hover{
    background-color: white;
    border-color: rgb(0,103,103);
    color:rgb(0,103,103);
}

.h1list li{
    
}

@media screen and (max-width: 375px) {
    h1 {
      display: none;
    }
  }

/**/


.diagram{
    height: 500px;
    width:100%;
}


.scrollbox{
    border: 1px solid black;
    height:300px;
    overflow: auto;
}


.names:hover{
    
    
}



.blue{
    color: blue;
}

/*Wounds*/

.newcontainer2{
    background-image: url(../imgs/steth.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size:contain;
    min-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.blacktop{
    margin:0;
    padding: 0;
    height:100px;
    width:100%;
    background-color: black;
}

.woundpad{
    padding-bottom: 20px;
}

.halfover{
    padding-left: 45%;
}

.woundbox{
    border: 5px solid black;
    border-radius: 5px;
    
    background-color: rgb(0,103,103);
    background-image: url(../imgs/bandage.jpg) ;
    background-position: center;
    background-size: contain;
    
    height:400px;
}

.boxcolor{
    background-color: rgba(0,103,103, 0.9);
    height:100%;
    
    
}

.boxshadow{
    background-color: rgba(0,0,0,0.3);
    height:100%;
    
}

.woundbox p{
    color: white;
    word-wrap: break-word;
}


.sortedby{
    border-bottom: 1px solid black;
    background-color: black;
}

.woundbox::-webkit-scrollbar{
    width: 10px;
}

.woundbox::-webkit-scrollbar-track{
    /*background: repeating-linear-gradient(
        45deg,
        rgb(0,103,103),
        rgb(0,103,103) 10px,
        rgb(0,0,0) 10px,
        rgb(0,0,0) 20px
      );*/
      background-color: white;
}

.woundbox::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 50px;
}


#woundname{
    background-color: white;
    color:black;
}

#woundnameold{
    background-color: white;
    color:black;
}

#woundnameaz{
    background-color: black;
    color:white;
}

#woundnameza{
    background-color: black;
    color:white;
}

.black{
    color:black;
}

.nametag{
    text-decoration: none;
}

.nametag:hover #woundname{
    color:black;
    background-color: rgba(165,104,42,0.9);
}

.nametag:active #woundname{
    color:rgb(0,103,103);
    border: 1px solid white;
}


/*PROFILE*/

.profileHeader{
    float:left;
    width:100%;
    height:70px;
    text-align: center;
    border: 1px solid white;
    border-bottom: 1px solid black;
}

.profileHeader > h2{
    margin-top: 10px;
}

.halfover2{
    margin-left:35%;
}

.topsecs{
    background-color: rgba(255,255,255,0.1);
    border: none;
}

.topsec2{
    width:30%;
    margin-left:2%; 
}

.user-info, .user-info *{
    margin-top: 0;
    padding-top: 0;
    
}

.user-info >p {
   
    color:white;
}

.newcontainer{
    background-image: url(../imgs/steth.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    min-height:100vh;
    width: 100vw;
}

.shadow2{
    width:100vw;
    min-height: 100vh;
    background-color: rgba(0,103,103,0.6);
}

.whiteback{
    background-color: white;
}

.blackback{
    background-color: black;
    
}

.bluebutton{
    background-color: rgb(0,103,103);
    color:white;
    
}

.titles{
    background-color: black;
    color:white;
    padding: 5px;
    border: 2px solid rgb(0,103,103);
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
}

.links{
    text-align: center;
}

.allnames{
    color:black;
}

.name-ct{
    background-color: rgba(255,255,255,0.9);
    border: 1px solid rgb(0,103,103);
    border-radius: 5px;
}

.name-ct > a{
    text-decoration-color: rgb(0,103,103);
}

.name-ct:hover{
    border: 1px solid black;

}

.name-ct:hover .allnames{
    color: rgb(0,103,103);
}

.user-info{
    border-bottom:5px solid white;
    box-shadow: 0px 5px rgba(0,0,0, 0.9);
    width:101vw;

}

.scrollbox2{
    
    height: 400px; /* or more */
    overflow-y: auto;
    padding-right: 5px;
    
}

.scrollbox2::-webkit-scrollbar{
    width: 10px;
}

.scrollbox2::-webkit-scrollbar-track{
    /*background: repeating-linear-gradient(
        45deg,
        rgb(0,103,103),
        rgb(0,103,103) 10px,
        rgb(0,0,0) 10px,
        rgb(0,0,0) 20px
      );*/
      background-color: #f0f0f0;
}

.scrollbox2::-webkit-scrollbar-thumb{
    background: rgba(0,103,103, 0.8);
    border-radius: 50px;
}

.all-pt-ct, .existing-pt-ct{
    flex:1;
    padding: 1rem;
    
}

.all-pt, .existing-pt{
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: 10px 7px black;
    margin-bottom: 50px;
    margin:0px;
    margin-left: 50px;
}

.add-patient a{
   text-decoration: none;
}

.add-patient a:hover{
    color: rgb(0,103,103)
}

.allw a{
    color:white;
    text-decoration: none;
}

.allw:hover{
    background:rgba(165,104,42,0.9) ;
    color: black;
    border: 2px solid black;
}

.whitetext{
    color:white;
}

.underline{
    text-decoration: underline;
}

.userinfosection{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.roleSec{

}

.blackborder{
    border: 1px solid black;
}

section{
    border: 1px solid white;
    border-radius: 10px
}

.adminBox{
    display:flex;
 
   
}

/*NewPatient*/

.editP-ct{
    border:1px solid black;
    background-color: rgba(0,0,0, 0.5);
    box-shadow: 10px 7px black;
    margin-bottom: 50px;
}

.editP-ct + .editP-ct{
    margin-top: 48px;
}

.woundbox2{
    border: 5px solid black;
    border-radius: 5px;
    margin:0;
    padding:0;
    
    background-image: url(../imgs/bandage.jpg) ;
    background-position: center;
    background-size: contain;
    
    height:400px;
}



.woundbox2::-webkit-scrollbar{
    width: 10px;
}

.woundbox2::-webkit-scrollbar-track{
    /*background: repeating-linear-gradient(
        45deg,
        rgb(0,103,103),
        rgb(0,103,103) 10px,
        rgb(0,0,0) 10px,
        rgb(0,0,0) 20px
      );*/
      background-color: black;
}

.woundbox2::-webkit-scrollbar-thumb{
    background: white;
    border-radius: 50px;
}

.anotherbox{
    overflow:auto;
    height:385px;
}

.anotherbox::-webkit-scrollbar{
    width: 10px;
}

.anotherbox::-webkit-scrollbar-track{
    background: repeating-linear-gradient(
        45deg,
        rgba(165,104,42,0.9),
        rgba(165,104,42,0.9) 10px,
        rgb(0,0,0) 10px,
        rgb(0,0,0) 20px
      );
      /*background-color: white;*/
}

.anotherbox::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 50px;
}

.pushingp{
    margin-left: 5px;
    color:black;
}

.descriptvalue{
    color:white;
}

.wrap{
    word-wrap: break-word;
}

.boxcolor2{
    background-color: rgba(0,103,103, 0.9);
    height:100%;
    width:100%;
    margin-top: 0;
    
}

.boxshadow2{
    background-color: rgba(0,0,0,0.3);
    height:100%;
    width:100%;
}

.submit:hover{
    background-color: white;
    color:rgb(0,103,103);
    border: 2px solid rgb(0,103,103);
}

.fa-trash-can{
    color:white;
    
}

.fa-trash-can:hover{
    color: red;
}

.whitegradient{
    background: linear-gradient(to left, rgba(225,225,225,0.9),rgba(225,225,225,0.1));
    height:2%;

}

.button5{
    background-color: black;
    border:1px solid rgb(0,103,103);
    border-radius: 5px;
    padding:1px;
    margin-bottom: 1px;
}

.anchor:hover{
    background-color: white;
    color:rgb(0,103,103);  
}

/*New Wound*/

.newWoundcontainer{
    background-image: url(../imgs/steth.jpg);
    background-repeat: repeat-y;
    background-position: center center;
    background-size:contain;
    min-height:100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.formBoxes{
    border:1px solid black;
    border-radius: 10px;
    background-color: rgba(0,0,0, 0.4);
    box-shadow: 10px 7px black;
}

.newWndPtBox{
    display:flex;
    justify-content: center;
    
}
.newWndPt{
    box-shadow: 0 0 50px 5px teal;
    font-size: 2rem;
    margin-top: 2%
}

.smallBlackBack{
    border: 1px solid rgb(0,103,103);
    background-color: black;
    padding: 5px;
    color: white;
    border-radius: 10px;
    
}

.woundrow{
    border:1px solid black;
}


.diagram{
    height: 500px;
    width:100%;
}

.radiobox-ct{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:1rem;
}

.radioboxes{
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
    padding: 5px;
}
/*ConfirmPage*/

.confirmcont{
    height:100vh;
    width:100%;
    background-image: url(../imgs/tools.jpg) ;
    background-repeat: repeat;
    background-size: 100px, 100px ;
}

.tan{
    height:100vh;
    width: 100vw;
    background-color: rgba(210,180,140, 0.9);
}

.confirmshadow{
    height:100vh;
    width:100vw;
    background-color: rgba(0,0,0, 0.3);
}

.confirmbox{
    float:left;
    margin-left: 25%;
    margin-top: 10%;
    height:200px;
    padding:10px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6);
    box-shadow: -6px 7px rgba(0,0,0, 0.9);
}

.confirmbox h2{
    color:white;
}

.confirmbox p{
    color: white;
}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.confbtn:hover{
    background-color: white;
    color:rgb(0,103,103)
}

/*AllWounds*/
.allwoundsNav-ct{
    display:flex;
    justify-content: space-between; /* Optional, you can use space-around or gap instead */
     align-items: center;
     padding: 1rem;
     margin: 0 10%;
}

.allwoundsNav-ct > div {
    width:30%; /* Each column gets equal width. Adjust if you want different sizing */
  }

.allwoundsHeader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

}



.bottombtns{
    text-align:center
}


/*PatientPage*/

.patientheader{
    
}

.patientcolor{
    background-color: rgba(165,104,42,0.7);
    height:100%;
}

.patientpbox{
    
    margin-left: 25%;
    margin-top: 10%;
    height:100px;
    
    border: 5px solid black;
    border-radius: 10px;
    background-color: rgba();
    background-image: url(../imgs/tools.jpg);
    background-position: center;
    background-size: 50px;
    background-repeat: repeat;
}

.patientpshadow{
   
    height:100%;
    width:100%;
    padding:10px;

}

.flexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 50%;
}

.recentWinfo{
    padding:2px;
    background-color: rgb(165,104,42);
    border: 1px solid black
}

.recentWoundinfoBox{
    background-color: rgba(0,0,0,0.7);
    
}

/*Edit Roles*/
.editHeader{
    text-align: center;
    border: 1px solid black;
}

.teal{
    color:rgb(0,103,103)
}

/*Physician P*/
.physicianP-ct{
    display: flex;
    margin-top: 10px;
}

.columns{
    flex-direction: column;
    
    
}

.column-left{
    margin-right: 0;
    margin-left: 10%;
    width:30%;
}

.column-right{
    margin-right: 0;
    margin-left: 0;
    width:50%;
}

.woundInfoBoxRight{
    background-color: rgba(255,255,255, 0.6);
    border:1px solid white;
    height: 900px;
}

.woundInfoBoxLeft{
    background-color: rgba(0,0,0, 0.6);
    border:1px solid white;
    height:700px;

}

.ptProfile-ct{
    display:flex;
    border: 1px solid black;
   background-color: rgba(0,0,0, 0.2);
   padding:10px;
   box-shadow: inset 0 0 10px rgba(0, 103, 103, 0.9);
   /*flex-wrap:wrap;*/
}

.pt-profile{
    flex-direction: column;

}

.pt-profile.ptImg-ct {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 200px;
    
    
}


.imgEdit-ct{
    
    margin-top: 5px ;
   
}




.ptImg-ct{
    border: 1px solid black;
    width:200px;
    height:200px;
    background-color: black;
}

.ptImg{
    width: 100%;
    width: 200px;
    align-self: center;
    height: 200px;
    flex-shrink: 0;
    border: 2px solid #333;
}

.demographics{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap; /* wrap if screen gets smaller */
   
}

.demlists{
    display:flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    border-radius: 8px;
    width: 200px;
}

.woundList-ct{
    margin-right: 4%;
    margin-left: 4%;
    padding: 2px ;
    
}

.woundList-ct>li{
    list-style-type: none;
}

.physicianP-scrollbox{
    
        border: 1px solid black;
        height:900px;
        overflow-y: auto;
    
}

.ppname-ct{
    
        background-color: rgba(0,0,0,0.7);
        border: 1px solid rgb(0,103,103);
        border-radius: 5px;
    
}

.ppname-ct>p{
    color:white
}

.woundupdate-ct{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0, 0.3);
}

.updateInputBox{
    border: 1px solid black;
    
    overflow: hidden;
    transition: max-height 0.4s ease;
    box-shadow: 10px 7px black;

}

.updateInputBox.open {
    max-height: 1000px; /* large enough to show full form */
  }

.pptr:nth-child(even) {
    background-color: rgb(0,103,103)
}

.pptr:nth-child(odd) {
    background-color: rgb(165,104,42)
}

#physician-container{
    background-color: black;
    height: 100vh;
    width:100vw;
    
}

#physicianTable{
    color:white;
}

/*Physician P Pt*/
.woundHeader{
    text-align: center;
    padding: 5px;
    background-color: rgba(0, 103, 103, 0.9);
    border: 3px solid rgb(0, 103, 103);
    border-radius: 10px;
    color:white;
    margin-top: 10px;
    box-shadow: inset 0 0 10px rgba(238, 235, 235, 0.9);
}

.active-btn{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width:100%;
    
    
}

.toggle-wrapper {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }
  
  .toggle-track {
    position: relative;
    width: 120px;
    height: 30px;
    border: 2px solid black;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
  }
  
  .toggle-track.active {
    background-color: rgb(0, 103, 103);
  }
  
  .toggle-track.inactive {
    background-color: red;
  }
  
  .toggle-label-left, .toggle-label-right {
    font-weight: bold;
    font-size: 18px;
    color: white;
    z-index: 1;
    pointer-events: none;
  }
  
  /* Knob styling */
  .toggle-knob {
    position: absolute;
    top: 3px;
    width: 50px;
    height: 20px;
    background-color: white;
    border-radius: 15px; /* fully rounded square */
    transition: left 0.3s ease;
    z-index: 2;
  }
  
  /* Left and right positions */
  .toggle-track.active .toggle-knob {
    left: 5px;
  }
  
  .toggle-track.inactive .toggle-knob {
    left: 62px;
  }
  
  



.woundDocImg{
    width:100px;
    height:100px;
    border-radius: 10px;
    cursor:pointer;
}

.originalDetail-ct{
    border:1px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 7px 7px black;
    color:black;
}

.originalDetail-ct > h3, p{
    margin-left: 5px;
}

.originalDetailTop{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap:50px
}

.woundDocs-scrollBox{
    border: 2px solid rgb(0,103,103);
    border-radius: 10px;
    height:300px;
    overflow: auto;
    background-color: rgba(0,0,0, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 7px 7px rgb(1, 49, 49),
    8px 8px rgb(0,103,103);
    

}

.woundDocs-scrollBox::-webkit-scrollbar{
    border-radius: 10px;
    width:5px;
}

.woundDocs-scrollBox::-webkit-scrollbar-track{
    background-color: rgb(0,103,103);
    border-radius: 10px;
    width:50px
}



.woundDocs-scrollBox::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 50px;
}

.woundDocsBox{
    border: 1px solid black;
}

.woundInputs{
    margin-left: 10px;
}

.woundDoc-ct{
    background-color: rgba(255,255,255, 0.9);
    margin-left: 2%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.woundDoc-ct > li{
    list-style-type: none;
}

.woundDocTop{
    display:flex;
    flex-direction: row;
    align-items: flex-start;    
   /* justify-content: space-around;*/
   gap:20px;
}

.woundDocImg{
border: 1px solid black;
}

.woundDocMeasure >ul{
    list-style-type: none;
}

.woundDocDescript{
    display: flex;
    flex-direction: column;
}



.arrow-icon {
    transition: transform 0.3s ease;
    display: inline-block;
  }

.arrow-icon.rotate {
  transform: rotate(180deg); /* arrow points down */
}

.divider{
    height:30px;
    border:2px solid white;
    border-radius: 10px;
    background: repeating-linear-gradient(
        45deg,
        rgb(0,103,103),
        rgb(0,103,103) 10px,
        rgb(0,0,0) 10px,
        rgb(0,0,0) 20px
      );
    background-color: black;
    margin-bottom: 40px;
    margin-top: 40px;
}

.dividerp {
    color: white;
    font-size: 20px;
    text-align: center;
}

.inactiveHeader{
    width:100%;
    height:50px;
    background-color: rgba(0,0,0, 0.8);
    color:white;
    border:5px solid black;
    border-radius: 10px;;
    text-align: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap:10px;
}

.woundNButton{
    display:flex;
    flex-direction: row;
    background-color: rgba(0,0,0, 0.3);
    border-radius: 10px;
    border: 1px solid rgb(0, 103, 103);
    margin-top: 10px;
    margin-bottom: 10px;
}

.woundNButton:hover{
    background-color: rgba(0,0,0, 0.2);
}

.inactive-btn{
   /* display:flex;
    flex-direction: column;
    align-items: flex-end;
    */
    margin-top: 10px;
}

.showButton{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(0, 103, 103);
    width:50px;
    cursor:pointer;
}

.inactiveArrow {
    display: inline-block;
    
  }

.inactiveRotate {
    transform: rotate(180deg);
  }
/*Pt Image Update*/
.imgUpName{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}

.imgUpdate-ct{
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.3);
    
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin:0;
    padding:0

}

.upd-ct{
   

}

.ptImg-ct2{
    border: 1px solid black;
    width:200px;
    height:200px;
    background-color: black;
    position:relative;
    margin-right: 50px;
}

.ptImg-ct2>p{
    position:absolute;
    bottom:-50px;
    left:50px
}

.ptImg2{
    height:200px;
    width:200px
}

/*Pt Profile Update*/

.profileUpdateBox{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border: 1px solid black;
    background-color: rgba(0,0,0, 0.3);
    height:500px;
}

.profileUpdate-ct{
    border: 1px solid black;
    border-radius: 10px;;
    background-color: rgba(0,0,0, 0.6);
    width:50%;
    height: 499px ;
    display:flex;
    
    justify-content: center;
    color:white;
}

.formtop, .formbottom{
    display:flex;
    flex-direction: column;
}

.profileUpdateBtn{
    background-color: black;
    color:white;
    padding: 5px;
    border: 2px solid rgb(0,103,103);
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

/*Media Q*/


@media all and (max-width: 425px) {
    .h1list p{
        
       color:black; 
    }

    h1 {
      font-size: 45px;
    }

    .buttons li{
        width:100%;
        height: 10%;
        font-size: 40px ;
    }

   
  

    .smallLogin{
        display:block;
        border: 5px solid white;
        background-color: rgba(0,103,103, 0.8);
        margin-bottom: 10px ;
        
    } 

    .smallLogin p{
        font-size: 30px;
        color:white;
        margin-left: 30%;
        margin-top: 5%;
    }
}

